:root {
    --background-color: #1A1A1A;
    --white : #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--background-color);
}

h1,h2,h3,p {
    color: var(--white);
}